.git
.gitignore
**/.ipynb_checkpoints
**/__pycache__
**/*.pyc
.venv
python
node_modules
front_docker/node_modules
services/api/target
services/api/uploads
services/api/downloads
services/api/output
services/api/jobs.db
output
uploads
downloads
desktop_app/src-tauri/target
test*.pdf
